<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GESVENTE</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %} " rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
        <script src="{% static 'commande.js' %}"></script>
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %} " rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">GESVENTE</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'acceuil' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>GESVENTE</span></a>
          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
              Interface
          </div>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
              <a class="nav-link collapsed" href="{% url 'categorie' %}" >
                  <i class="fas fa-fw fa-wrench"></i>
                  <span>Catégorie</span>
              </a>
          </li>

          <!-- Nav Item - Utilities Collapse Menu -->
          <li class="nav-item">
              <a class="nav-link collapsed" href="{% url 'article' %}">
                  <i class="fas fa-fw fa-wrench"></i>
                  <span>Article</span>
              </a>
              
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading 
          <div class="sidebar-heading">
              Addons
          </div>-->

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
              <a class="nav-link collapsed" href="{% url 'client' %}">
                  <i class="fas fa-fw fa-folder"></i>
                  <span>Client</span>
              </a>
             
          </li>

          <!-- Nav Item - Charts -->
          <li class="nav-item">
              <a class="nav-link" href="{% url 'payement' %}">
                  <i class="fas fa-fw fa-chart-area"></i>
                  <span>Payement</span></a>
          </li>

          <!-- Nav Item - Tables -->
          <li class="nav-item">
              <a class="nav-link" href="{% url 'commande' %}">
                  <i class="fas fa-fw fa-table"></i>
                  <span>Commande</span></a>
          </li>
         

          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle text-dark" href="{% url 'logout' %}">
                                Déconexion
                        
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-1 text-gray-800">Commande Du Client</h1><br>








                        <form method = "post" id="myForm">
                            {% csrf_token %}
                            <div class="form-row">
                              <div class="form-group col-md-12">
                                <label for="nom">Nom Client</label>
                                <select class="form-control form-select-lg mb-3" name="client" id = "produit" aria-label=".form-select-lg example">
                                    {% for client in clients %}
                                    <option value = "{{client.nom}}" selected>{{client.nom}}</option>
                                    
                                    {% endfor %}
                                  </select>
                              </div>

                            </div>
                            <div class="form-group">
                              <label for="produit">Produit</label>
                              <select class="form-control form-select-lg mb-3" name="produit" id = "produit" aria-label=".form-select-lg example">
                                {% for produit in produits %}
                                <option value = "{{produit.nom_article}}" selected>{{produit.nom_article}}</option>
                                
                                {% endfor %}
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="prix">Prix</label>
                              <input type="number" class="form-control" name="prix" id="prix" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="quantiter">Quantiter</label>
                                <input type="number" name="quantiter"  class="form-control" id="quantiter" placeholder="">
                              </div>
                              <div class="form-group">
                                <label for="quantiter">Date</label>
                                <input type="date" name="date"  class="form-control" id="date" placeholder="">
                              </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" id = 'boutton' onclick="ajout()" class="btn btn-primary">Ajouter</button>
                                <a href="" class="btn btn-danger">Annuler</a><br><br><br>
                              </div>
                          </form>
                    
























                    

          
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %} "></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %} "></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %} "></script>

    

    <script>

        
        function ajout(){
        btn = document.getElementById('boutton')
            produit = document.getElementById('produit')
            nom = document.getElementById('nom')
            quantiter = document.getElementById('quantiter')
            prix = document.getElementById('prix')
            date = document.getElementById('date')
            let champ = document.getElementById('champ')


  // Créer un nouvel élément input
  const nouvelInput = document.createElement('tr');
  
            nouvelInput.innerHTML=`<td ${name="client"}>${nom.value}</td>
                <td name="produit">${produit.value}</td>
                    <td name="quantiter">${quantiter.value}</td>
                        <td name="prix">${prix.value}</td>
                            <td name="prix_totale">${prix.value * quantiter.value}</td>
                                <td name="date">${date.value}</td>
            `
  // Ajouter le nouvel élément input au conteneur
  champ.appendChild(nouvelInput);

            
        }

     
    </script>


</body>

</html>